<div class="sm:px-6 w-full">

  <div class="bg-light-tint dark:bg-light-tint py-4 md:py-7 px-4 md:px-8 xl:px-10">
<h1 class="text-dark-base">Week 01</h1>
    <div class="mt-7 overflow-x-auto">
      <table class="w-full whitespace-nowrap">
        <th>
          <tr class="grid grid-cols-4 text-tertiary-base">
            <td>
              Dia
            </td>
            <td>
              Quantidade
            </td>
            <td>
              Porcento
            </td>
            <td>
              Tempo
            </td>
          </tr>
        </th>
        <tbody>
          <tr class="h-16 border border-gray-100 rounded grid grid-cols-4 items-center">
            <td class="flex items-center justify-center">
                <p class="text-base font-medium leading-none text-gray-700 dark:text-gray-100 mr-2">
                  Day 1
                </p>
            </td>
            <td class="flex items-center justify-center">
                <p class="text-base font-medium leading-none text-gray-700 dark:text-gray-100 mr-2">
                  55
                </p>
            </td>
            <td class="flex items-center justify-center">
                <p class="text-base font-medium leading-none text-gray-700 dark:text-gray-100 mr-2">
                  30%
                </p>
            </td>
            <td class="flex items-center justify-center">
                <p class="text-base font-medium leading-none text-gray-700 dark:text-gray-100 mr-2">
                  60m
                </p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>