<ion-fab slot="fixed" vertical="bottom" horizontal="end" class="fixed" >
  <ion-fab-button>
    <ion-icon name="chevron-up-circle"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top" class="mb-20">
    <ion-fab-button [routerLink]="['/']">
      <img src="assets/icon/favicon.svg" class="w-5 h-5" />
    </ion-fab-button>
    <ion-fab-button [routerLink]="['/calc']">
      <ion-icon name="calculator-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button [routerLink]="['/table']">
      <ion-icon name="calendar-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button [routerLink]="['/confg']">
      <ion-icon name="cog-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>
