<ion-content [fullscreen]="true">
    <app-intro *ngIf="this.statsService.user.name.length<1"></app-intro>
    <div *ngIf="this.statsService.user.name.length>0" class="h-full flex flex-col items-center">
      <app-navbar></app-navbar>
      <div class="sm:px-6 w-full h-full grid lg:place-content-center lg:grid-cols-3 ">
        <app-form></app-form>
        <app-week-table class="lg:col-span-2 h-full w-full flex justify-center items-center"></app-week-table>
      </div>
    </div>
</ion-content>
